
form(method="POST")
  div(class="control-group form-group")
    div(class="controls")
      label username
      input(type="text", name="username", class="form-control")
  div(class="control-group form-group")
    div(class="controls")
      label password
      input(type="password", name="password", class="form-control")

