extends layout

block content
  div(class="splash")
    div(class="container")
      div(class="row")
        div(class="col-md-3")
        div(class="col-md-6 formarea white-background")
          h1= title
          if failedLogin
            div(class="alert alert-danger") Invalid username or password!
          form(method="POST", data-parsley-validate)
            div(class="control-group form-group")
              div(class="controls")
                label username
                input(type="text", name="username", class="form-control", data-parsley-required)
            div(class="control-group form-group")
              div(class="controls")
                label password
                input(type="password", name="password", class="form-control", data-parsley-required)
            button(type="submit", class="btn btn-primary") Login      
            p you can register 
              a(href='/register') here
        div(class="col-md-3")


