extends layout

block content
  div(class="container")
      h1= title
      p Please login to use the Anti-Theft-App 
            include form.jade
              button(type="submit", class="btn btn-primary") Login
      p you can register here:
      a(href='/register') register


